#remainTop {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #404040;
}
#remainTop header {
    color: #F96D02;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin: 1%;
}
#remainTop nav {
    margin: 0 20%;
    float: left;
}
#remainTop nav li {
    display: inline;
    text-align: right;
}
#remainTop nav li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px;
}
#home {
    background-image: url(Live_Healthy_feature705.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 620px;
    margin-top: 4%;
}
#homeContent {
    margin: 0 15%;
    line-height: 2em;
    background-color: #404040;
    opacity: 0.5;
    height: 100%;
    font-family: sans-serif;
    font-size: 17px;
    color: #FFFFFF;
}
#importance {
    background-image: url(Running-in-a-dream.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 650px;
}
#importanceContent {
    margin: 0 15%;
    line-height: 2em;
    background-color: #FFFFFF;
    opacity: 0.5;
    height: 100%;
    font-family: sans-serif;
    font-size: 25px;
}
#goRunning {
    background-image: url(running-again-on-the-beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 650px;
}
#goRunning article {
    margin: 0 15%;
    line-height: 2em;
    background-color: #404040;
    opacity: 0.5;
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}
p,
h3,
h2 {
    padding: 5px;
}